<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化demo</title>
    <link href="../styles/common.css" rel="stylesheet">
    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>
    <script src="../scripts/Plugin/echarts.min.js"></script>
    <script src="../scripts/Plugin/bmap.min.js"></script>
    <script type="text/javascript" src="../scripts/Plugin/echarts-map-china.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=9UxhL8yiE89j3ryPL2G25msjPFzTnDGd"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/daylength.js"></script>
    <script src="../scripts/Plugin/laydate/laydate.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
    <!-- 引入 ECharts 地图的 JSON 数据（china.js） -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/map/js/china.js"></script>
    <!-- 引入 ECharts 3D 柱形图插件 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts-gl.min.js"></script>


</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li><i class="nav_1"></i><a href="op1.html">选择1</a></li>

            <li class="nav_active"><i class="nav_4"></i><a href="daylength.html">降水量</a></li>
            <li><i class="nav_3"></i><a href="op3.html">风向风速</a></li>
        </ul>
    </div>
    <div class="header_center left" style="position:relative">

        <h2><strong>风雨同行</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>
            <li><i class="nav_2"></i><a href="op2.html">日照时长</a></li>
            <li><i class="nav_5"></i><a href="op5.html">大气污染</a></li>

        </ul>
    </div>

</header>
<!--内容部分-->
<div class="con left">
    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any01">
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_3.png">降水频率地图</div>
<!--                <div id="bbar" style="width: 100%; height: 600px;"></div>-->

            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_2.png">降水季节分布玫瑰图</div>
                <div id="histogramChart" class="p_chart" style="width: 300px; height: 300px;"></div>
            </div>
        </div>
        <div class="div_any02 left ">
            <div class="div_any_child div_height">

                <div class="div_any_title any_title_width"><img src="../images/title_0.png">中国各省降水量</div>
                <div id="precipitationMap" class="p_chart" style="width: 800px; height: 600px;"></div>

            </div>
        </div>
        <div class="right div_any01">
            <div class="div_any_child">

                <div class="div_any_title"><img src="../images/title_1.png">各月份降水量雷达图</div>
                <p id="radarChart" class="p_chart"></p>
            </div>
            <div class="div_any_child">

                <div class="div_any_title"><img src="../images/title_4.png">降水量聚类分析</div>

            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // 初始化echarts实例
        var roseChart = echarts.init(document.getElementById('histogramChart'));

        // 配置项
        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a}<br/>{b}<br/>{c}"
            },
            calculable: true,
            series: [
                {
                    type: 'pie',
                    radius: [30, 110],
                    center: ['50%', '50%'],
                    roseType: 'area',
                    x: '50%',
                    max: 40,
                    sort: 'ascending',
                    data: [
                        {value: 19, name: '春'},
                        {value: 56, name: '夏'},
                        {value: 19, name: '秋'},
                        {value: 5, name: '冬'},
                    ]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        roseChart.setOption(option);
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // 初始化echarts实例
        var radarChart = echarts.init(document.getElementById('radarChart'));

        // 配置项
        var option = {
            tooltip: {},
            radar: {
                // 雷达图的指示器，这里表示12个月
                indicator: [
                    {name: '一月', max: 200},
                    {name: '二月', max: 200},
                    {name: '三月', max: 200},
                    {name: '四月', max: 200},
                    {name: '五月', max: 200},
                    {name: '六月', max: 200},
                    {name: '七月', max: 200},
                    {name: '八月', max: 200},
                    {name: '九月', max: 200},
                    {name: '十月', max: 200},
                    {name: '十一月', max: 200},
                    {name: '十二月', max: 200}
                ]
            },
            series: [{
                name: '降水量',
                type: 'radar',
                // 数据项的值，这里示意随机生成
                data: [{
                    value: [
                        33,
                        10,
                        22,
                        33,
                        43,
                        194,
                        84,
                        55,
                        129,
                        152,
                        51,
                        29
                    ],
                    name: '降水量'
                }]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        radarChart.setOption(option);
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // 初始化 ECharts 实例
        var precipitationMap = echarts.init(document.getElementById('precipitationMap'));

        // 示例数据，实际情况需要替换成你的地理数据
        var data = [
            {name: '北京', value: Math.random() * 100},
            {name: '天津', value: Math.random() * 100},
            {name: '河北', value: Math.random() * 100},
            {name: '山西', value: Math.random() * 100},
            {name: '内蒙古', value: Math.random() * 100},
            {name: '辽宁', value: Math.random() * 100},
            {name: '吉林', value: Math.random() * 100},
            {name: '黑龙江', value: Math.random() * 100},
            {name: '上海', value: Math.random() * 100},
            {name: '江苏', value: Math.random() * 100},
            {name: '浙江', value: Math.random() * 100},
            {name: '安徽', value: Math.random() * 100},
            {name: '福建', value: Math.random() * 100},
            {name: '江西', value: Math.random() * 100},
            {name: '山东', value: Math.random() * 100},
            {name: '河南', value: Math.random() * 100},
            {name: '湖北', value: Math.random() * 100},
            {name: '湖南', value: Math.random() * 100},
            {name: '广东', value: Math.random() * 100},
            {name: '广西', value: Math.random() * 100},
            {name: '海南', value: Math.random() * 100},
            {name: '重庆', value: Math.random() * 100},
            {name: '四川', value: Math.random() * 100},
            {name: '贵州', value: Math.random() * 100},
            {name: '云南', value: Math.random() * 100},
            {name: '西藏', value: Math.random() * 100},
            {name: '陕西', value: Math.random() * 100},
            {name: '甘肃', value: Math.random() * 100},
            {name: '青海', value: Math.random() * 100},
            {name: '宁夏', value: Math.random() * 100},
            {name: '新疆', value: Math.random() * 100},
            {name: '台湾', value: Math.random() * 100},
            {name: '香港', value: Math.random() * 100},
            {name: '澳门', value: Math.random() * 100}
        ];

        // 配置项
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: '{b}: {c} mm'
            },
            visualMap: {
                min: 0,
                max: 100,
                left: 'left',
                top: 'bottom',
                text: ['高', '低'],
                calculable: true,
                inRange: {
                    color: ['#e0ffff', '#006edd']
                }
            },
            series: [
                {
                    name: '降水量',
                    type: 'map',
                    mapType: 'china',
                    roam: false,
                    label: {
                        show: true,
                        color: 'rgb(249, 249, 249)'
                    },
                    data: data
                }
            ]
        };
        precipitationMap.setOption(option);
        precipitationMap.resize(); // 调整大小以确保图表居中
        window.addEventListener("resize", function () {
            precipitationMap.resize(); // 监听窗口大小变化，调整图表大小
        });

        // 使用刚指定的配置项和数据显示图表。
        precipitationMap.setOption(option);
    });
</script>

</body>
</html>

